<h2>hours of operation</h2>
<ul>
<li>Monday-Friday 3pm to 10pm</li>
<li>Weekend 11am to 10pm</li>
<%= link_to 'menu', menu_path %>
<%= link_to 'location', location_path %>
<%= link_to 'landing', landing_path %>
