<h2>Traditional Vietnamese Braised Fish</h2>
<ul>
  <li>Lemongrass Stir-Fry</li>
  <li>Tofu Pad Thai</li>
  <li>Hot N Spicy Pho</li>
</ul>
<%= link_to 'hours', hours_path %>
<%= link_to 'location', location_path %>
<%= link_to 'landing', landing_path %>
